# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
*.env

# VSCode / IDE settings
.vscode/
.idea/

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Uploads / temporary files
uploads/
tmp/


# Lock files
uv.lock